<!doctype html>
<html lang="en">

<!-- Head -->
<%- partial('_partial/head') %>

<body>

<!-- Header -->
<%- partial('_partial/header',{cache:true}) %>

<!-- Nav -->
<%- partial('_partial/nav',{cache:true}) %>

<!-- Content -->
<%- body %>

<!-- Footer -->
<%- partial('_partial/footer',{cache:true}) %>


</body>
</html>