<!-- Post Header -->
<style type="text/css">
    header.intro-header {
    <% if (is_home()) { %> background-image: url('<%= url_for(config["header-img"] ) %>');
        /*config*/
    <%} else if (is_post()){%> background-image: url('<%= page["header-img"] %>');
        /*post*/
    <%} else {%> background-image: url('<%= url_for(config["header-img"])%>');
        /*page*/
    <%} %>
    }
</style>

<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <!-- 文章 -->
                <% if (is_post()) { %>
                <div class="post-heading">
                    <div class="tags">
                        <% page.tags.forEach(function(tag){ %>
                        <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>"
                           title="<%= tag.name %>"><%= tag.name %></a>
                        <% }) %>
                    </div>
                    <h1><%= page.title %></h1>
                    <h2 class="subheading"><%= page.subtitle || "" %></h2>
                    <span class="meta">
                            Posted by <%- page.author || config.author %> on
                        <%= page.date.format(config.date_format) %>
                        </span>
                </div>
                <!-- 非文章 -->
                <% } else { %>
                <div class="site-heading">
                    <h1><%= page.title || config.title %></h1>
                    <!--<hr class="small">-->
                    <span class="subheading"><%= page.description || config.subtitle || "" %></span>
                </div>
                <% } %>

            </div>
        </div>
    </div>
</header>