<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="<%= config.description %>">
    <meta name="keyword" content="<%= config.keyword %>">
    <link rel="shortcut icon" href="<%- config.favicon %>">

    <%
    var title = page.title;

    %>

    <title>
        <% if (title){ %>
        <%= title %> |
        <% } %>
        <%= config.title %>
    </title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Plugin CSS -->


    <!-- Custom CSS -->
    <!-- ↓这是stylus文件 -->
    <%- css('css/style') %>
    <%- css('css/home') %>
    <%- css('css/highlight') %>
    <%- css('css/toc') %>


</head>
<body></body>
